@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.container {
    text-align: center;
}

.header {
    padding: 18px 0 10px 0;
    text-align: center;
    border-bottom: 1px solid #E1E5ED;
}
.header img {
    max-width: 122px;
    max-height: 45px;
}

.main {
    background-color: #FAFBFD;
    width: 100%;
}

.main__composition {
    padding: 73px 0 155px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 566px; /*39%*/
    margin: 0 auto;
}
.main__composition--picture {
    background-image: url('./assets/img/main_composition_picture_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 341px;
    width: 566px;
}

.main__composition--picture-text {
    margin-top: 40px;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
}

.main__composition--content {
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    color: #333333;
}

.main__composition--content-upper {
    padding: 28px 52.9px 18px 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.main__composition--content-upper-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.928571px;
    max-width: 318px;
    text-align: left;
}

.main__composition--content-upper-text-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.main__composition--content-upper-mobile {
    display: none;
}

.main__composition--content-bottom {
    padding-bottom: 30px;
}

.main__composition--content-bottom-button {
    font-size: 16px;
    line-height: 21px;
    border: none;
    background-color: #fff;
    border-radius: 25px;
    padding: 12px 24px;
    cursor: pointer;
}
/* button for mobile view */
.main__composition--content-bottom-mobile {
  text-align: center;
  display: none;
}

.main__composition--content-bottom-mobile-button {
  color: #fff;
  text-transform: uppercase;
  padding: 16px;
  background-color: #2889FC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main__composition--content-bottom-button:hover {
    background-color: #dfdfdf;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
    .main__composition--picture {
        max-width: 100%;
        background-size: cover;
        background-position: center;
    }
    .main__composition {
        max-width: 80%;
        padding: 0;
    }
  }

@media only screen and (max-width: 578px) {
    .main__composition--picture-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 520px) {
      body {
        overflow: hidden;
        /* position: relative; */
        /* display: block;*/
        height: 100%;
    }
    .main {
        position: absolute;
        bottom: 0;
        /* height: calc(100% - 58.67px); */
    }
    .container {
        height: 100%;
    }
    .main__composition {
        max-width: 100%;
    }

    .main__composition--content {
      box-shadow: none;
    }
    .main__composition--picture {
        background-image: url('./assets/img/main_composition_picture_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__composition--picture-text {
        font-size: 26px;
        line-height: 34px;
        width: 60%;
        margin: 50px auto 0 auto;
    }
    .header img {
        max-width: 62px;
        max-height: 23px;
    }
    .main__composition--content-upper {
        display: none;
    }
    .main__composition--content-bottom-mobile {
        display: block;
        margin: 53px 0 35px 0;
    }
}

@media (max-width: 520px) and (min-height: 812px) {
    .main__composition--picture {
        background-image: url('./assets/img/main_composition_picture_mobile_iphone.png');
        height: 55vh;
      }
}

@media (max-width: 520px) and (max-height: 812px) {
  .main__composition--picture {
    background-image: url('./assets/img/main_composition_picture_mobile_iphone.png');
    height: 55vh;
  }
}
@media (max-width: 520px) and (max-height: 728px) {
  .main__composition--picture {
    background-image: url('./assets/img/main_composition_picture_mobile_large.png');
    height: 60vh;
  }
}
@media  (max-width: 520px) and (max-height: 640px) {
  .main__composition--picture {
    background-image: url('./assets/img/main_composition_picture_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 46vh;
  }
}